{% extends 'base.html' %}

{% block style %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
    </div>
    <form action="/expedition/new" method="POST">
        <fieldset>
            <legend>Expedition:</legend>
            <label for="name"> Name</label>
            <input type="text" name="ename" id="name"><br>
            <label for="description">Description</label>
            <textarea type="text" name="desc" id="description"></textarea><br>
            <label for="start_year"> Start Year</label>
            <input type="text" name="syear" id="start_year"><br>
            <label for="end_year"> End Year</label>
            <input type="text" name="eyear" id="end_year"><br>
        </fieldset>

        <fieldset>
            <legend>Field Note:</legend>
            <label for="fieldnote_title">Title</label>
            <input type="text" name="ftitle" id="fieldnote_title"><br>
            <label for="fieldnote_description">Description</label>
            <textarea type="text" name="fdesc" id="fieldnote_description"></textarea><br>
            <label for="fieldnote_author">Author</label>
            <input type="text" name="fauthor" id="fieldnote_author"><br>
            <label for="location">Location</label>
            <input type="text" name="flocation" id="location"><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>
{% endblock %}

{% block script %}


{% endblock %}